<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container bg-light mt-5 pt-3 pb-3">
    <div class="text-center">
        <h1>Django Password Generator</h1>
        <p>We'll never share or store generated password.</p>
    </div>

    <p>Your newly generated password:</p>
    
    <h2 class="alert alert-success my-5">
         {{password}}
    </h2>

    <p>Inserted conditions: {{len}} character length </p>
    <p> uppercase = {{upperCase}}, </p>
    <p> number = {{numberCase}} </p>
    <p> and special characters = {{specialCase}}.</p>

    <div class="text-center">
        <a href="{% url 'home' %}" class="btn btn-info">Home</a>
    </div>

    <p class="text-center pt-5">Designed by <a href="https://www.rifatjamee.com/">Rifat</a></p>
</div>